
@use '../../../style/variables.scss' as *;
@use '../../../style/util/z-index.scss' as z;


.bkl-checkbox {
  display: block;
  padding: $sizing-xxs $sizing-none;
  outline: none;
  cursor: pointer;
  
  &__wrapper {
    position: relative;
    display: flex;
    padding-top: $sizing-xxs;
    color: $brand-color-dark-1;
    font-size: $font-size-s;
    line-height: $line-height-3;
    vertical-align: top;
  }
  
  &__input {
    margin-right: $sizing-xs;
    height: 1.8rem;
    width: 1.8rem;
    margin-top: $sizing-none;
    cursor: pointer;
    
    &:focus-visible {
      outline: 2px solid $focus-outline-color;
      outline-offset: 0;
    }
  }
  
  &.pseudo-focused {
    .bkl-checkbox__input {
      outline: 2px solid $focus-outline-color;
      outline-offset: 0;
    }
  }
}

.bkl-checkbox-group--primary, .bkl-checkbox--primary {
  .bkl-checkbox__wrapper {
    padding-left: $sizing-l;
  }
  
  .bkl-checkbox__wrapper::after, .bkl-checkbox__wrapper::before {
    content: '';
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  }
  
  .bkl-checkbox__wrapper::before {
    width: 0;
    height: 0;
    top: 1rem;
    left: 0.6rem;
    z-index: 1;
    border: $sizing-xxs solid transparent;
    transform: rotateZ(37deg);
    transform-origin: 100% 100%;
  }
  
  .bkl-checkbox__wrapper::after {
    width: 2rem;
    height: 2rem;
    top: 0.2rem;
    left: 0;
    z-index: 0;
    border: 0.2rem solid $dark-color-4;
    background-color: transparent;
    border-radius: 0.2rem;
  }
  
  // make opacity 0 instead of display: none for outline
  .bkl-checkbox__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    appearance: none;
    
    &:focus-visible {
      width: 2rem;
      height: 2rem;
      top: 0.2rem;
      left: -0.4rem;
      border-radius: 0.2rem;
      opacity: 1;
    }
  }
}

.bkl-checkbox-group--primary {
  .bkl-checkbox--disabled {
    opacity: 0.34;
  }
  
  .bkl-checkbox--checked .bkl-checkbox__wrapper::before {
    width: 0.8rem;
    height: 1.6rem;
    top: 0.2rem;
    left: 0;
    border-top: 0.2rem solid transparent;
    border-left: 0.2rem solid transparent;
    border-right: 0.2rem solid $dark-color-1;
    border-bottom: 0.2rem solid $dark-color-1;
  }
  
  .bkl-checkbox--checked .bkl-checkbox__wrapper::after {
    border: 0.2rem solid $accent-color-light-2;
    background-color: $accent-color-light-2;
  }
}

.bkl-checkbox--primary {
  &.bkl-checkbox--disabled {
    opacity: 0.34;
  }
  
  &.bkl-checkbox--checked .bkl-checkbox__wrapper::before {
    width: 0.8rem;
    height: 1.6rem;
    top: 0.2rem;
    left: 0;
    border-top: 0.2rem solid transparent;
    border-left: 0.2rem solid transparent;
    border-right: 0.2rem solid $dark-color-1;
    border-bottom: 0.2rem solid $dark-color-1;
  }
  
  &.bkl-checkbox--checked .bkl-checkbox__wrapper::after {
    border: 0.2rem solid $accent-color-light-2;
    background-color: $accent-color-light-2;
  }
}

.bkl-checkbox-group {
  position: relative;
  
  &.bkl-checkbox-group--inline {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;

    .bkl-checkbox:not(:first-child) {
      padding-left: $sizing-5;
    }

    .bkl-checkbox:not(:last-child) {
      padding-right: $sizing-5;
    }
  }
}
