
.bkl-util-scroller {
  overscroll-behavior: none;

  // stylelint-disable-next-line declaration-property-value-disallowed-list
  &--vertical {
    overflow-y: auto;
  }

  // stylelint-disable-next-line declaration-property-value-disallowed-list
  &--horizontal {
    overflow-x: auto;
  }

  // stylelint-disable-next-line declaration-property-value-disallowed-list
  &--both {
    overflow: auto;
  }
}
