
@use '../../../style/variables.scss' as *;


.bkl-input--search {
  position: relative;
  flex: 1;
  
  .bkl-input--search__icon {
    position: absolute;
    left: 0.4rem;
    top: 0.2rem;
    z-index: 1;
    margin: 1rem;
    width: 1.8rem;
    
    color: var(--bkl-placeholder-color);
  }
  .bkl-input__input {
    padding-left: 3.5rem !important;
  }
}
