
@use '../../../style/variables.scss' as bkl;
@use '../../../style/mixins.scss' as mixins;


.code {
  line-height: bkl.$line-height-6;
  color: bkl.$dark-color-1;
  @include mixins.font($family: bkl.$font-family-code);
  font-size: bkl.$font-size-m;
}
