@use '../../style/variables.scss' as bkl;

.bkl-progress-bar {
  display: flex;
  align-items: center;
  
  &__outer {
    position: relative;
    display: flex;
    height: bkl.$sizing-m;
    background-color: bkl.$light-color-4;
    border-radius: bkl.$sizing-xxs;
    width: 100%;
  }
  
  &__inner {
    position: absolute;
    left: bkl.$sizing-none;
    top: bkl.$sizing-none;
    height: bkl.$sizing-m;
    border-radius: bkl.$sizing-xxs;
  }
  
  &__info {
    margin-left: bkl.$sizing-s;
  }
              
  &--high {
    background-color: bkl.$status-color-critical;
  }
  
  &--medium {
    background-color: bkl.$status-color-warning;
  }
  
  &--low {
    background-color: bkl.$status-color-success;
  }
}
