
@use '../../../style/variables.scss' as bkl;
@use '../../../style/mixins.scss' as mixins;


@mixin data-table-loading() {
  position: relative;
  
  .bkl-loader {
    position: absolute;
    top: calc(50% - (80px / 2));
    left: calc(50% - (80px / 2));
  }
  
  /*
  // Loading overlay
  &::after {
    content: '';
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(bkl.$dark-color-1, 0.2);
    border-radius: bkl.$border-radius-ms;
  }
  */
  
  .bkl-data-table__table tbody {
    opacity: 0.6;
  }
}

.bkl-data-table-lazy--loading {
  @include data-table-loading();
}
