
@use '../../../../styling/defs.scss' as bk;

@mixin menu-list-option($name) {
  $is-nonactive: ':is(:disabled, .#{$name}__item--nonactive)';
  
  // The `group-indent` can be set to indent options in a group a bit more
  padding-inline-start: calc(var(--#{$name}-item-padding-inline) + var(--#{$name}-group-indent, 0));
  
  :global(.icon--prefix) {
    margin-inline-end: 0.3ch;
    padding: 0.3em; // Keep a consistent padding for both decorated and non-decorated
  }
  &.#{$name}__item--icon-highlight :global(.icon--prefix) {
    --bk-icon-accent-color: color-mix(
      in oklch, #{bk.$theme-dropdown-menu-menu-icon-background-default}, 30% transparent
    );
  }
  
  &:not(#{$is-nonactive}):hover {
    background: bk.$theme-dropdown-menu-menu-background-hover;
  }
  &[aria-selected="true"] {
    background: bk.$theme-dropdown-menu-menu-background-hover;
    // stylelint-disable-next-line declaration-no-important -- Override accessibility layer
    box-shadow: inset 5px 0 bk.$theme-dropdown-menu-menu-tab-default !important;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    transition: box-shadow 150ms ease-in;
  }
  
  &#{$is-nonactive} {
    user-select: none;
    cursor: not-allowed;
    color: bk.$theme-text-small-text-subtle;
  }
  &:focus {
    &:not(.#{$name}__item--nonactive) {
      background: bk.$theme-dropdown-menu-menu-background-focused;
    }
  }
  
  &:focus-visible {
    z-index: 1; // Render the outline over the next item
    background: bk.$theme-dropdown-menu-menu-background-focused;
    
    // stylelint-disable-next-line declaration-no-important -- Override accessibility layer
    outline: var(--bk-focus-outline-width) solid var(--bk-focus-outline-color) !important;
    // stylelint-disable-next-line declaration-no-important -- Override accessibility layer
    outline-offset: calc(-1 * var(--bk-focus-outline-width)) !important;
  }
}

@mixin menu-list($name) {
  --#{$name}-border-width: #{bk.$size-hairline};
  --#{$name}-chin-size: #{bk.$spacing-2}; // There's a slight "chin" at the end of the list box
  --#{$name}-item-padding-inline: #{bk.$spacing-3};
  --#{$name}-item-padding-block: #{bk.$spacing-2};
  --#{$name}-item-block-size: calc(var(--#{$name}-border-width) + var(--#{$name}-item-padding-block) * 2 + 1lh);
  
  overflow: hidden;
  scroll-behavior: smooth; // Smooth scrolling when programatically focusing an item
  
  // Add a scroll padding, so that focusing items will scroll them into view even if there are sticky items
  --sticky-items-start: 1; // Increase this if there is more than one sticky item at the start
  --sticky-items-end: 1; // Increase this if there is more than one sticky item at the end
  scroll-padding-block-start: calc(var(--sticky-items-start) * var(--#{$name}-item-block-size));
  scroll-padding-block-end: calc(
    var(--sticky-items-end) * var(--#{$name}-item-block-size) + var(--#{$name}-chin-size)
  );
  
  // Container
  background: bk.$theme-dropdown-menu-menu-background-default;
  color: bk.$theme-dropdown-menu-menu-text-default;
  
  &:not(.#{$name}--embedded) {
    border: bk.$size-hairline solid bk.$theme-dropdown-menu-menu-border-default;
    border-radius: bk.$radius-3;
    
    // For use in popovers
    &[data-placement^="top"] { border-end-start-radius: 0; border-end-end-radius: 0; }
    &[data-placement^="right"] { border-start-start-radius: 0; border-end-start-radius: 0; }
    &[data-placement^="bottom"] { border-start-start-radius: 0; border-start-end-radius: 0; }
    &[data-placement^="left"] { border-start-end-radius: 0; border-end-end-radius: 0; }
  }
  
  min-block-size: 2lh;
  max-block-size: 18lh;
  padding-block-end: var(--#{$name}-chin-size);
  
  &.#{$name}--size-shrink {
    min-inline-size: 0;
    max-inline-size: 30svi;
  }
  &.#{$name}--size-small {
    min-inline-size: 18ch;
    max-inline-size: 30svi;
  }
  &.#{$name}--size-medium {
    min-inline-size: 28ch;
    max-inline-size: 40svi;
  }
  &.#{$name}--size-large {
    min-inline-size: 38ch;
    max-inline-size: 70svi;
  }
  
  // --min-block-size: 25lh;
  // @supports (min-block-size: calc-size(fit-content, min(size, 1em))) {
  //   min-block-size: calc-size(fit-content, min(size, var(--min-block-size)));
  // }
  
  // Target self and all `role="group"` elements within the current component scope
  @scope (&) to (.bk-isolate, .bk) {
    &, [role="group"] {
      display: grid;
      align-items: stretch;
    }
  }
  
  --#{$name}-group-indent: 0em; // Note: need to give the unit here otherwise the `calc()` will fail
  .#{$name}__group {
    --#{$name}-group-indent: #{bk.$spacing-2};
    
    // Separator between consecutive groups
    &:not(:nth-child(1 of .#{$name}__group)) {
      border-block-start: var(--#{$name}-border-width) solid bk.$theme-dropdown-menu-menu-border-default;
    }
  }
  
  .#{$name}__item {
    @include bk.focus-hidden; // Make sure the default `Button` focus styling is not applied (e.g. through shift key)
    
    // Virtualization
    // https://github.com/TanStack/virtual/issues/860
    contain: paint;
    will-change: transform;
    
    // FIXME: enabling this causes a strange issue with keyboard navigation (scrolling goes too far down/up)
    //content-visibility: auto;
    // Border + padding + content
    //contain-intrinsic-block-size: calc(bk.rem-from-px(1) + var(--#{$name}-item-padding-block) * 2 + 1lh);
    
    padding: var(--#{$name}-item-padding-block) var(--#{$name}-item-padding-inline);
    background: bk.$theme-dropdown-menu-menu-background-default;
    
    // Separator between consecutive items
    &:not(:nth-child(1 of .#{$name}__item)) {
      border-block-start: var(--#{$name}-border-width) solid bk.$theme-dropdown-menu-menu-border-default;
    }
    
    display: flex;
    align-items: center;
    gap: 1ch;
    
    &.#{$name}__item--heading {
      user-select: none;
      
      color: bk.$theme-text-small-text-subtle;
      font-size: bk.$font-size-s;
      text-transform: uppercase;
    }
    
    &.#{$name}__item--option {
      @include menu-list-option($name);
    }
    
    &.#{$name}__item--loading {
      user-select: none;
      
      color: bk.$theme-text-small-text-subtle;
      font-size: bk.$font-size-s;
      text-transform: uppercase;
    }
  }
  
  &.#{$name}--empty {
    .#{$name}__empty-placeholder {
      color: bk.$theme-dropdown-menu-menu-text-empty;
    }
  }
}
