
@layer baklava.overrides {
  .bk-util-scroller {
    // stylelint-disable-next-line declaration-property-value-disallowed-list
    &.bk-util-scroller--vertical { overflow-y: auto; }
    
    // stylelint-disable-next-line declaration-property-value-disallowed-list
    &.bk-util-scroller--horizontal { overflow-x: auto; }
    
    // stylelint-disable-next-line declaration-property-value-disallowed-list
    &.bk-util-scroller--both { overflow: auto; }
  }
}
